<div class="page-header">
  <h1>Edit UserType</h1>
</div>

<%= form_for(userType, {action: userTypePath({ user_type_id: userType.ID }), method: "PUT"}) { %>
  <%= partial("user_types/form.html") %>
  <a href="<%= userTypePath({ user_type_id: userType.ID }) %>" class="btn btn-warning" data-confirm="Are you sure?">Cancel</a>
<% } %>
