<div class="page-header">
  <h1>UserTypes</h1>
</div>
<ul class="list-unstyled list-inline">
  <li><a href="<%= newUserTypesPath() %>" class="btn btn-primary">Create New UserType</a></li>
</ul>

<table class="table table-striped">
  <thead>
  <th>&nbsp;</th>
  </thead>
  <tbody>
    <%= for (userType) in userTypes { %>
      <tr>
      <td>
          <div class="pull-right">
            <a href="<%= userTypePath({ user_type_id: userType.ID }) %>" class="btn btn-info">View</a>
            <a href="<%= editUserTypePath({ user_type_id: userType.ID }) %>" class="btn btn-warning">Edit</a>
            <a href="<%= userTypePath({ user_type_id: userType.ID }) %>" data-method="DELETE" data-confirm="Are you sure?" class="btn btn-danger">Destroy</a>
          </div>
        </td>
      </tr>
    <% } %>
  </tbody>
</table>

<div class="text-center">
  <%= paginator(pagination) %>
</div>
