<div class="page-header">
  <h1>New UserType</h1>
</div>

<%= form_for(userType, {action: userTypesPath(), method: "POST"}) { %>
  <%= partial("user_types/form.html") %>
  <a href="<%= userTypesPath() %>" class="btn btn-warning" data-confirm="Are you sure?">Cancel</a>
<% } %>
