<div class="page-header">
  <h1>UserType#Show</h1>
</div>

<ul class="list-unstyled list-inline">
  <li class="list-inline-item"><a href="<%= userTypesPath() %>" class="btn btn-info">Back to all UserTypes</a></li>
  <li class="list-inline-item"><a href="<%= editUserTypePath({ user_type_id: userType.ID })%>" class="btn btn-warning">Edit</a></li>
  <li class="list-inline-item"><a href="<%= userTypePath({ user_type_id: userType.ID })%>" data-method="DELETE" data-confirm="Are you sure?" class="btn btn-danger">Destroy</a>
</ul>

<p>
  <strong>Name</strong>: <%= userType.Name %>
</p>
